<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :referencia %><br>
    <%= f.text_field :referencia %>
  </div>
  <div class="field">
    <%= f.label :revisado %><br>
    <%= f.text_field :revisado %>
  </div>
  <div class="field">
    <%= f.label :localizacion %><br>
    <%= f.text_field :localizacion %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :cpu %><br>
    <%= f.text_field :cpu %>
  </div>
  <div class="field">
    <%= f.label :ram %><br>
    <%= f.text_field :ram %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
